<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Pool Monitor</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <script src="/static/lib/react/react.js"></script>
    <script src="/static/lib/react/JSXTransformer.js"></script>
    <script src="/static/lib/jquery/jquery.js"></script>

</head>
<body>
<div id="content"></div>

<!--<script type="text/jsx">-->
    <!--var CommentBox = React.createClass({-->
        <!--render: function () {-->
            <!--return (-->
                    <!--<div className="commentBox">-->
                        <!--Hello, world! I am a CommentBox.-->
                    <!--</div>-->
            <!--);-->
        <!--}-->
    <!--});-->
    <!--React.render(-->
            <!--<CommentBox />,-->
            <!--document.getElementById('content')-->
    <!--);-->
<!--</script>-->
<script src="/static/js/index.js"></script>
</body>
</html>